
@media screen and (max-width: 800px) {
  #header {
    padding: 0px 10px;
  }
  #window-close-button {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  div#main ,
  div.dialog,
  input,
  button {
    font-size:11pt;
    font-weight:normal;  
  }

  /*
  #preview-markdown-esc-message, #filename > span {
    font-size: 11pt;
  }
  */

  .button { 
    line-height: 30px;
  }

  .pulldown > ul li {
    line-height: 3em;
  }

  .pulldown > ul li img {
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
  }

  #header > #menu .command > img+span {
    display: none;
  }

  #recent-button {
    display: none;
  }

  #filename .storage-icon {
    display: none;
  }


  .dialog > .window {
    width: 300px;
  }

  .dialog > .window .bottombar {
    height: 80px;
    padding: 25px 20px;
  }

  .responsive-dialog > .window {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
 
  .responsive-dialog .message > .window {
    top: 30px;
    bottom: 250px;
  }

  #chooser-dialog > .window {
    width: auto;
    margin: 0; }

    #chooser-dialog .main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
    }

    #chooser-dialog .main > .chooser-navigator {
      width: 100%;
      padding: 5px 10px;
    }

    #chooser-dialog .main > .file-navigator {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;

    }

    #chooser-dialog .main-menu {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }

    #chooser-dialog .side-menu {
      width: auto;
      border: none;
      border-top: 1px solid #999;
      padding: 0px 0px;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-box-ordinal-group: 2;
      box-ordinal-group: 2;
    }

      #chooser-dialog .side-menu ul {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;

        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        list-style-type: none; }

      #chooser-dialog .side-menu ul li {
        position: relative;
        -webkit-box-flex: 1;
        -moz-binding: 1;
        -ms-binding: 1;
        box-flex: 1;
        margin-bottom: 0px;
        padding: 0px 10px;
        line-height: 36px;
        background-color: #fff;
        border-left: none;
        border-top: 3px solid #fff;
        color: #aaa;
        text-align: center;}

        #chooser-dialog .side-menu ul li.selection {
          border-left: none;
          color: black;
          font-weight: normal;
          border-top: 3px solid #4a5df1;
        }

    #chooser-dialog .main-menu ul.chooser-filelist {
      padding: 0px; }

      #chooser-dialog .main-menu ul.chooser-filelist[data-storage=dropbox] li,
      #chooser-dialog .main-menu ul.chooser-filelist[data-storage=googledrive] li {
        height: auto;
        padding-left: 10px;
        border-bottom: 1px solid #ddd;
        padding: 10px 0px 10px 10px;
        line-height: 30px;
        overflow: hidden; }

      #chooser-dialog .main-menu ul.chooser-filelist[data-storage=dropbox] li.loading,
      #chooser-dialog .main-menu ul.chooser-filelist[data-storage=googledrive] li.error-msg {
        border-bottom: none;
      }


/*
  #chooser-dialog .main .side-menu {
    width: 100%;
    height: 50px;
    border: 1px solid #999;
  }

  #chooser-dialog .main .side-menu ul {
    padding: 10px 5px;
    list-style-type: none;
  }

  #chooser-dialog .main .side-menu ul li {
    float: left;
  }

  #chooser-dialog .main .main-menu {
    width: 100%;
    -webkit-box-flex: 1;
  }

  #chooser-dialog .main .main-menu ul li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999;
    font-size: 120%;
  }
*/
}

@media screen and (max-width: 400px) {
  #menu #filename {
    display: none;
  }

  #menu div.flex {
    display: block;
  }

  #chooser-dialog  .side-menu ul li {
    /*-webkit-box-flex: 1;*/
  }

  #chooser-dialog  .side-menu ul li span {
    display: none;
  }
}
