[user]
        name            = Cesar A. Quiroz, Ph.D.
        email           = cesar_quiroz@ieee.org

[core]
        editor          = $HOME/cmd/e -c
        pager           =

[diff]
        tool            = ediff

[difftool "ediff"]
        cmd             = $HOME/cmd/ediff $LOCAL $REMOTE

[merge]
        tool            = emerge
        conflictstyle   = diff3

[mergetool "emerge"]
        cmd             = $HOME/cmd/emerge $BASE $REMOTE $LOCAL $MERGED

[alias]
        aa              = add -A .
        au              = add -u .
        ci              = commit
        co              = checkout
        d               = diff
        ds              = diff --staged
        l               = log --date=short --pretty=tformat:'%h %ad %s' --no-merges
        prefix          = rev-parse --show-prefix
        s               = status -bs -uall .
        top             = rev-parse --show-toplevel

[push]
        default         = simple

[color]
        branch          = true
        diff            = true
        grep            = true
        interactive     = true
        pager           = true
        showbranch      = true
        status          = true
        ui              = true

[gui]
        warndetachedcommit = true

[credential]
        helper          = cache --timeout=3600

## end .gitconfig