[user]
	name            = César A. Quiroz
	email           = cesar_quiroz@ieee.org

[core]
	editor          = $HOME/cmd/e -c -F '((width . 80)(height . 36))'
	pager           =

[diff]
	tool            = ediff
	compactionHeuristic = true

[difftool "ediff"]
	cmd             = $HOME/cmd/ediff $LOCAL $REMOTE

[merge]
	tool            = emerge
	conflictstyle   = diff3

[mergetool "emerge"]
	cmd             = $HOME/cmd/emerge $BASE $REMOTE $LOCAL $MERGED

[alias]
	aa              = add -A .
	au              = add -u .
	b               = branch
	ci              = commit -v
	co              = checkout
	d               = diff
	di              = diff
	ds              = diff --staged
	g               = gui
	k               = !gitk
	l               = log --date=short --pretty=tformat:'%h %ad %s' --no-merges
	prefix          = rev-parse --show-prefix
	s               = status -bs -uall .
	ss              = status -bs -uno .
	top             = rev-parse --show-toplevel
	us              = reset --

[push]
	default         = simple

[color]
	branch          = true
	diff            = true
	grep            = true
	interactive     = true
	pager           = true
	push            = true
	showBranch      = true
	status          = true
	ui              = true

[gui]
	warndetachedcommit = true
	recentrepo = /work/linux-home
	fontui = -family Ubuntu -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0

[credential]
	helper          = cache --timeout=14400

## end .gitconfig
