# editor artifacts
\#*
\.\#*
*~
*.swp

BOOKMARKS

# source indexing
GPATH
GRTAGS
GSYMS
GTAGS
ID

cscope.files
cscope.in.out
cscope.out
cscope.po.out

tags
TAGS

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Kernel objects
*.ko

# Random things form git'd $HOME
.cache/*

# Log files, lock files
*.log
*.lock

# Chromium in .config/ down from top
.config/chromium/

#end .gitignore
