[user]
	name                    = Cesar A. Quiroz, Ph.D.
	email                   = cesar_quiroz@ieee.org

[core]
	editor                  = gvim -f
	pager                   =

[diff]
	tool                    = $HOME/cmd/ediff

[merge]
	tool                    = $HOME/cmd/emerge

[alias]
	aa                      = add -A .
	au                      = add -u .
	ci                      = commit
	co                      = checkout
	d                       = diff
	ds                      = diff --staged
	l                       = log --date=short --pretty=tformat:'%h %ad %s' --no-merges
	prefix                  = rev-parse --show-prefix
	s                       = status -bs -uall
	top                     = rev-parse --show-toplevel

[push]
	default                 = simple

[color]
	ui                      = true

[gui]
	warndetachedcommit      = true
