body {
  font-size: 12px;
  margin: 0;
}

#main {
  background-clip: content-box;
  background-color: #2F373D;
  border: 2px solid rgba(34, 40, 44, 0.38);
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 452px;
}

#close {
  background-image: url(../../images/close-sidebar.png);
  background-size: 14px;
  cursor: pointer;
  display: none;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  z-index: 2;
}
body.done #close {
  display: block;
}

#header {
  background-image: url(../../images/sync_big.gif);
  background-position: 17px 50%;
  background-size: 26px;
  padding: 14px 17px 14px 53px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
body.done #header {
  background: none;
  padding: 21px 22px 13px 22px;
}

#status {
  color: #26B064;
  display: block;
  font-family: CaeciliaBold;
  float: left;
  font-size: 15px;
  line-height: 26px;
  overflow: hidden;
  padding: 0 12px 0 0;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}
#status:last-child {
  display: inline-block;
  float: none;
  padding: 0 0 0 12px;
  vertical-align: middle;
}
body.done #status {
  background-image: url(../../images/check.png);
  background-position: 0 50%;
  background-size: 18px 13px;
  float: none;
  line-height: 18px;
  margin: 0 0 11px 0;
  padding: 0 0 0 27px;
}
#title {
  color: white;
  display: block;
  font-family: CaeciliaItalic;
  font-size: 15px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}
#title:first-child {
  display: inline-block;
  vertical-align: middle;
}
body.done #title {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
  max-width: -webkit-calc(100% - 21px);
  padding: 0 15px 0 0;
  position: relative;
}
body.done #title:hover:after { /* underline title on hover */
  border-bottom: 1px solid white;
  bottom: 3px;
  content: "";
  left: 0;
  position: absolute;
  width: -webkit-calc(100% - 15px);
}

#reminders {
  display: none;
  vertical-align: top;
  z-index: 2;
}
body.done #reminders {
  display: inline-block;
}
body.brief #reminders {
  display: none;
}

/* Share buttons */
#share {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 24px;
  -webkit-transform: translate3d(50px, 0, 0);
  -webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease;
}
body.done #share {
  height: auto;
  margin: 0 0 18px 0;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
body.brief #share, body.noShare #share {
  display: none;
}
.shareOpt {
  background-color: #26B064;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  vertical-align: top;
}
#linkedin {
  background-image: url(../../images/linkedin.png);
  background-position: 14.5px 50%;
  background-size: 18px 18px;
  border-radius: 14px 0 0 14px;
  width: 40px;
}
#weibo {
  background-image: url(../../images/weibo.png);
  background-position: 50%;
  background-size: 22px 18px;
  display: none;
}
body.china #weibo {
  display: inline-block;
}
#facebook {
  background-image: url(../../images/facebook.png);
  background-position: 50%;
  background-size: 10px 17px;
}
body.china #facebook, body.china #twitter {
  display: none;
}
#weibo, #facebook, #twitter, #gplus, #email, #url {
  border-left: 1px solid #258D54;
}
#weibo, #facebook, #twitter, #gplus, #email {
  width: 33px;
}
#twitter {
  background-image: url(../../images/twitter.png);
  background-position: 50%;
  background-size: 16px 14px;
}
#gplus {
  background-image: url(../../images/g+.png);
  background-position: 50%;
  background-size: 21px 18px;
}
#email {
  background-image: url(../../images/email.png);
  background-position: 50%;
  background-size: 18px 12px;
}
#url {
  background-image: url(../../images/url.png);
  background-position: 9px 50%;
  background-size: 15px;
  border-radius: 0 14px 14px 0;
  width: 43px;
}

hr {
  border-top: 1px solid #21262C;
  border-right: none;
  border-bottom: 1px solid #495865;
  border-left: none;
  display: none;
  margin: 0 12px;
}
body.done hr {
  display: block;
}
body.partial hr {
  display: none;
}

#smart {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 24px;
  -webkit-transition: max-height 400ms, opacity 400ms;
}
body.done #smart {
/*  max-height: 266px;*/
  max-height: 366px;
  opacity: 1;
}
body.partial #smart {
  max-height: 0;
  opacity: 0;
}
#smart.relatedNotes #smartPanel > div {
  left: 0;
}
#smart.sameSiteNotes #smartPanel > div {
  left: -404px;
}
#smart.tips #smartPanel > div {
  left: -808px;
}
/*body.done.noSmart #smart {
  display: none;
}*/

h2 {
  color: #8A98A2;
  cursor: pointer;
  display: block;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: normal;
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  vertical-align: top;
}
h2.pressed {
  color: white;
}
#relatedNotes {
  float: left;
  padding: 19px 30px 24px 0;
}
#sameSiteNotes {
  overflow: hidden;
  padding: 19px 0 24px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#smart.tips #relatedNotes, #smart.tips #sameSiteNotes {
  display: none;
}
#tips {
  color: #8A98A2;
  display: none;
  padding: 19px 0 24px 0;
}
#tips:hover {
  color: white;
}
#smart.tips #tips {
  display: inline-block;
}

#smartPanel {
/*  max-height: 208px;*/
  overflow: hidden;
  white-space: nowrap;
}
#smartPanel.relatedNotes > div {
  left: 0;
}
#smartPanel.sameSiteNotes > div {
  left: -454px;
}
#smartPanel.tips > div {
  left: -908px;
}
#smartPanel.hasAtLeastOneNotebookName {
  max-height: 232px;
}

#relatedNotesContainer, #sameSiteNotesContainer, #tipsContainer {
  display: inline-block;
  margin: 0 0 19px 0;
  position: relative;
  -webkit-transition: left 200ms ease;
  vertical-align: top;
  width: 404px;
}
#sameSiteNotesContainer {
  max-height: 244px;
  overflow-x: hidden;
  overflow-y: auto;
}
#smartPanel.hasAtLeastOneNotebookName #sameSiteNotesContainer {
  max-height: 204px;
}
.noResults {
  background-color: #21262C;
  height: 236px;
}
.noResults:before {
  color: white;
  content: attr(data-no-result);
  font-family: GothamMedium, Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 236px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 100%;
}

/* tips */
#tipsContainer {
  height: 236px;
}
#tipsContainer > div{
  display: none;
  margin: 0 auto;
  position: relative;
}
#smartPanel.hasAtLeastOneNotebookName #tipsContainer {
  height: 232px;
}
/* common tips */
#tipsContainer.ratings #ratingsPrompt, #tipsContainer.nearQuota #nearQuotaTip,
#tipsContainer.skitch #skitchTip, #tipsContainer.referral #referralTip {
  display: block;
  height: 100%;
  text-align: center;
}
.tipLogo {
  background-position: 0 18px;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
}
.tipDetails {
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 14px;
  text-align: center;
  white-space: normal;
}
.tipButtons {
  bottom: 18px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
.tipButton {
  background-color: #26B064;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #33CC78;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.tipButton:hover {
  background-color: #26C66E;
}
.tipButton:active {
  background-color: #26B064;
  box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}
/* ratings prompt */
#ratingsPrompt {
  background-color: #495865;
  color: white;
  font-family: GothamMedium, Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#ratingsPrompt .tipLogo {
  font-family: CaeciliaBold, Times, serif;
  font-size: 15px;
  padding-top: 25px;
}
#ratingsPrompt .tipDetails {
  font-size: 12px;
  margin-top: 5px;
}
#ratingsPrompt .tipLink {
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  margin: 15px 0 0 0;
  text-align: center;
}
#ratingsPrompt .tipLink span {
  border-bottom: 1px solid white;
}
#rateNow {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  margin: 19px 0 0 0;
  padding: 0 61px;
}
body.safari #rateNow {
  display: none;
}
/* referral tip */
#referralTip {
  background-color: #F4F1F1;
  font-family: GothamMedium, Helvetica, Arial, sans-serif;
}
#referralTip .tipLogo {
  background-image: url(../../images/blue-ribbon.png);
  background-position: 50% 18px;
  background-size: 44px 56px;
  color: #656C71;
  font-family: "CaeciliaBold", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-top: 86px;
}
#referralTip .tipDetails {
  color: #656C71;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 25px;
}
#referralTip .button {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  padding: 0 47.5px;
}
/* nearQuota tip */
#nearQuotaTip {
  background-color: #495865;
  color: white;
  font-family: GothamMedium, Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#nearQuotaTip .tipLogo {
  font-size: 17px;
  padding-top: 56px;
}
#nearQuotaTip .tipDetails {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 25px;
}
#nearQuotaTip .button {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  padding: 0 46.5px;
}
/* skitch tip */
#skitchTip {
  background-image: linear-gradient(#DA338E, #DC1126);
  color: white;
  font-family: GothamMedium, Helvetica, Arial, sans-serif;
  font-size: 15px;
}
#skitchTip .tipLogo {
  background-image: url(../../images/skitch-feather.png);
  background-position: 0 35px;
  background-size: 92px 58px;
  height: 93px;
  width: 92px;
}
#skitchTip .tipDetails {
  margin-top: 28px;
  margin-bottom: 25px;
}
#skitchTip .button {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  padding: 0 60px;
}

/* Error states */
#errorTitle, #errorDetails, #errorButton {
  color: white;
  display: none;
  padding-left: 46px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#errorTitle {
  background-image: url(../../images/error-clip.png);
  background-position: 15px 15px;
  background-size: 16px 16px;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px 15px 0 46px;
}
#errorDetails {
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding-top: 5px;
}
#logLink {
  border-bottom: 1px solid #C2CFD7;
  color: #C2CFD7;
}
#errorButton {
  background-color: #26B064;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #33CC78;
  color: white;
  cursor: pointer;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  margin: 15px 0 15px 46px;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#errorButton:hover {
  background-color: #26C66E;
}
#errorButton:active {
  background-color: #26B064;
  box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}
body.error #errorTitle, body.error #errorDetails {
  display: block;
}
body.error #errorButton {
  display: inline-block;
}
body.error #header {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #close {
    background-image: url(../../images/close-sidebar@2x.png);
  }
  #header {
    background-image: url(../../images/sync_big@2x.gif);
  }
  body.done #status {
    background-image: url(../../images/check@2x.png);
  }
  #linkedin {
    background-image: url(../../images/linkedin@2x.png);
  }
  #weibo {
    background-image: url(../../images/weibo@2x.png);
  }
  #facebook {
    background-image: url(../../images/facebook@2x.png);
  }
  #twitter {
    background-image: url(../../images/twitter@2x.png);
  }
  #gplus {
    background-image: url(../../images/g+@2x.png);
  }
  #email {
    background-image: url(../../images/email@2x.png);
  }
  #url {
    background-image: url(../../images/url@2x.png);
  }
  #referralTip .tipLogo {
    background-image: url(../../images/blue-ribbon@2x.png);
  }
  #skitchTip .tipLogo {
    background-image: url(../../images/skitch-feather@2x.png);
  }
  #errorTitle {
    background-image: url(../../images/error-clip@2x.png);
  }
}