/* Symantec Watermark: CB70-4860-5397-06-15-6 */
/*
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header start
// ////////////////////////////////////////////////////////////////////////////////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2007 Symantec Corporation.
// All rights reserved.
//
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header stop
// ////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen,contrast-screen
{
   #coToolbarDiv
	{
		background-image:url('../images/chrome_tb_light_BG.png');
        background-repeat: repeat-x;
		background-color:#F7F7F7;
		width: 100%;		
		height:28px;
		padding-top:1px;
		margin:0;
		border:0;  
		overflow: hidden;
		white-space: nowrap;
		border-bottom: solid 1px #666;
		border-top: solid 1px #666;
		zoom: reset;
	}
	
	#coToolbarDiv div 
	{
	float: left;
	}
	*
	{
		font-family:"Segoe UI", Tahoma, Sans-Serif;
	}
	
	*:lang(ja) 
	{
		font-family:"Meiryo UI", Tahoma, Sans-Serif !important;
		/* special case for Win7, as it interprets Segoe UI as Meiryo, but as Meiryo UI in Win 8*/
	}
	
	div.coTBBase_Block
	{
		border:0px;
		padding: 0px;
		margin: 0px;
		display: inline-block;
		width: auto;
	}

	div.coTBBase_Menu
	{
		border:0;
		padding:0;
		margin:0 0 0 3px;
		width:84px;
		height:22px;
		background-image:none;
		background-repeat: expand;
		background-position:0px 4px 0px 4px;
	}
	
	div.coTBBase_Menu:focus,
	div.coTBBase_Menu:tab-focus 
	{
		outline:1px dotted invert -2px;
	}

	div.coTBBase_Menu:hover
	{
		background-image:url('../images/NORTON_TB_MM_OVER_LOGO.PNG');		
	}
	
	div.coTBBase_Menu:active
	{
		background-image:url('../images/NORTON_TB_MM_ON_LOGO.PNG');		
	}
	
	
	div.coTBBase_Menu>text
	{
		size:*;
		background-image:url('../images/NortonBranding.png');
		background-position:6px 0;
		background-repeat:no-repeat;
	}
	
	div.coTBBase_Menu:active>text
	{
		background-position:6px 1px;
	}
	
	
		
	/*-----close button------*/
	div.coCloseButton_Block
	{
		padding: 0px;
		margin: 4px 0px 0px 0px;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right:0px;
		vertical-align:middle;
	}

	div.coCloseButton
	{
		padding: 0px;
		width: 15px;
		height: 15px;
		margin-top:7px;
		background-image:none;
		vertical-align: middle;
		background-image:url('../images/CLOSE_DEFAULT.PNG');	
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	div.coCloseButton:hover
	{
		background-image:url('../images/CLOSE_HOVER.PNG');	
	}
	
	div.coCloseButton:active
	{
		background-image:url('../images/CLOSE_CLICK.PNG');		
	}
	
	div.coCloseButton div
	{
		width: 100%;
		height: 100%;
	}
	
	div.coCloseButton:active div
	{
		background-image: url('../images/CLOSE_ACTIVE.PNG');
	}
	
	div.coHideToolbarButton
	{
		padding: 0px;
		width: 40px;
		height: 15px;
		margin-top:7px;
		background-image:none;
		vertical-align: middle;
		background-image:url('../images/hide_default.PNG');	
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	div.coHideToolbarButton:hover
	{
		background-image:url('../images/hide_hover.PNG');	
	}
	
	div.coHideToolbarButton:active
	{
		background-image:url('../images/hide_click.PNG');		
	}
	
	div.coHideToolbarButton div
	{
		width: 100%;
		height: 100%;
	}
	
	/* Norton Image*/
	
	div#coDefaultLogo
	{
		background-image:url('../images/logo_tb_norton.png');
		background-repeat:no-repeat;	
		margin-right:8px; 
		margin-top:3px;
		padding-left:4px;
		width:64px;
		height:28px;
		max-height:28px;
		vertical-align:middle; 
		background-position:right -3px; 
	}

}

@media contrast-screen
{
	div.coTBBase_Menu, 
	div.coCloseButton
	{
		background-color: White;
	}
	
	div.coTBBase_Menu:hover, 
	div.coTBBase_Menu:active,
	div.coCloseButton:hover,
	div.coCloseButton:active
	{
		background-color: Window;
	}
}