/* Symantec Watermark: CB70-4860-5397-06-15-6 */
/*
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header start
// ////////////////////////////////////////////////////////////////////////////////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2007 Symantec Corporation.
// All rights reserved.
//
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header stop
// ////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen,contrast-screen
{
	body
	{
		min-height:29px;
		max-height:29px;
	}
		  
	div[type="coTB_MenuButton"] 
	{
		background-image:none;
		background-position:0px 0px;
		background-repeat:expand;
		cursor:default;
		font-weight:normal;
		background-image:none;
		background-position:8px 7px;  /* Location of safety icon within button */
		background-repeat:no-repeat;

		min-height:28px;
		max-height:28px;

		width:100px;
		margin-left:-2px;
		margin-top:0px;
		margin-bottom:1px;
		padding-top:0px;
	}
		
	div[type="coTB_MenuButton"][formfactor=short]>text
	{
		background-image:none ;
	}

	div[type="coTB_MenuButton"]:hover
	{	
		background-color:#bfebfa;
	}
	
	div[type="coTB_MenuButton"]:hover div
	{
		color:#a2d9f6;
	}
	
	div[type="coTB_MenuButton"]:hover div
	{
		color:#ffffff;
	}
	
	div[type="coTB_MenuButton"]:active
	{	
		background-color:#00afec;
	}
	
	div[type="coTB_MenuButton"]:active div[id="coTB_StatusText_1"]
	{	
		color: #a2d9f6;
	}
	
	div[type="coTB_MenuButton"]:active div[id="coTB_StatusText_2"]
	{	
		color: White;
	}
	
	div[id="SafeWebButtonTextWrapper"]
	{
		width:75px;
		height:100%;
		
	}

	div[type="coTB_MenuButton"][class="MenuDisabled"]
	{
		color:Gray;
		background-image:none;
		opacity:.5;
	}

	
	div[type="coTB_MenuButton"][coRating="coTB_Status_ShopGreen"],
	div[type="coTB_MenuButton"][coRating="coTB_Status_ShopBad"],
	div[type="coTB_MenuButton"][coRating="coTB_Status_PageBadShopBad"]
	{
		background-position:8px 2px;
	}
	
	/*
			UI States
	*/
	div[type="coTB_MenuButton"][coRating="coTB_Status_Green"]
	{
		background-image:url('../images/ICON_TB_SW_SAFE.PNG');
		background-position:2px 0px;
	}	
			 
												
	div[type="coTB_MenuButton"][coRating="coTB_Status_Red"]
	{
		background-image:url('../images/ICON_TB_SW_WARNING.PNG');
		background-position:2px 0px;
	}
												
	div[type="coTB_MenuButton"][coRating="coTB_Status_Gray"]
	{
		background-image:url('../images/COTB_GRAY_STATUS_DEFAULT.PNG');
	}

	
	div[type="coTB_MenuButton"][coRating="coTB_Status_NSecured"]
	{
		background-image:url('../images/ICON_TB_SW_SECURE.PNG');
		background-position:2px 0px;
	}

	div[type="coTB_MenuButton"][coRating="coTB_Status_NAuth"]
	{
		background-image:url('../images/COTB_AUTH_STATUS_DEFAULT.PNG');
	}

	
	div[type="coTB_MenuButton"][coRating="coTB_Status_Warn"]
	{
		background-image:url('../images/ICON_TB_SW_CAUTION.PNG');
		background-position:2px 0px;
	}

	div[type="coTB_MenuButton"][coRating="coTB_Status_ShopGreen"]
	{
		background-image:url('../images/COTB_SHOPGOOD_STATUS_DEFAULT.PNG');
	}
	
	div[type="coTB_MenuButton"][coRating="coTB_Status_ShopBad"]
	{
		background-image:url('../images/COTB_SHOPBAD_STATUS_DEFAULT.PNG');
		background-position:10px 4px;
	}
	
	div[type="coTB_MenuButton"][coRating="coTB_Status_PageBadShopBad"]
	{
		background-image:url('../images/COTB_PAGEBADSHOPBAD_STATUS_DEFAULT.PNG');
	}

	/*
	Dual line text
	*/

div[id="coTB_StatusBar"] div 
{ 
	padding:0;
}

div[id="coTB_StatusBar"] div[id="coTB_StatusText_1"]
{
	color:#9da0a6;
}
   
	div[id="coTB_StatusBar"] div[id="coTB_StatusText_2"]
	{
	   color:#383230;
	   margin-left:0px;
	}
	
	div#SafeWebButtonTextWrapper
	{
		margin-bottom:-5px;
		width:84px;
		padding-left:16px;
		margin-top:0px;
		padding-top: 1px;
		}
	
	div[id="coTB_StatusBar"] div[id="IESafeWebButtonLine1"],
	div[id="coTB_StatusBar"] div[id="IESafeWebButtonLine2"] 
	{
		border-collapse:collapse;
		border:none;
		padding:0;
		border-spacing:0;
		font-size:10px;
		font-family:"Segoe UI", Tahoma, Sans-Serif;
		margin-left:16px;
	}
	
	div[id="coTB_StatusBar"] div[id="IESafeWebButtonLine1"]:lang(ja),
	div[id="coTB_StatusBar"] div[id="IESafeWebButtonLine2"]:lang(ja)
	{
		font-family: "Meiryo UI", "Tahoma", Sans-Serif !important;
	}
	
	div[id="coTB_StatusBar"] div[id="IESafeWebButtonLine2"]
	{
	   vertical-align:top;
	   margin-top:0px;
	   margin-bottom:5px;
	} 	
	
	/*
	**************************************************************************
	Right-to-left lang - StatusButton changes
	***************************************************************************
	*/	
	
	body[dir="rtl"] div.coTB_Status
	{
		text-align:right;
	}	

	body[dir="rtl"] div[type="coTB_MenuButton"] 
	{
		background-position: 8px 4px;  /* Location of safety icon within button */
		margin-left:-3px;
		margin-right:2px;
		max-width:min-intrinsic;
		width:90px;
	}
		
	body[dir="rtl"] div#SafeWebButtonTextWrapper
	{
		margin-bottom:-5px;
		width:84px;
		padding-left:16px;
		margin-top:3px;
		margin-right:3px;
		
	}
	
	/*
	****************************************************************************
	Short form mode - changes
	****************************************************************************
	*/
	
	div[type="coTB_MenuButton"][formfactor="short"] > text
	{
		margin-right:0;
		margin-left:0;
	}	         

	div[type="coTB_MenuButton"][formfactor="short"],
	body[dir="rtl"] div[type="coTB_MenuButton"][formfactor="short"]
	{
		min-width:48px;
		max-width:48px;
		background-position:Center 2px !important;
		margin-right:3px;
	}
		
}

div.coSBRightSpacer_safeweb
{
	border-left:1px solid #b3b0ad;
	margin-bottom:1px;
	margin-left:0px;
	margin-right:1px;
	height:100%;
	min-width:2px;
	padding-left:1px;
}

@media contrast-screen
{
	div[type="coTB_MenuButton"]
	{
		background-color:White;
	}
	
	div[type="coTB_MenuButton"] > text
	{
		color:Black;
		font-weight:bold;
	}	
	
	div[type="coTB_MenuButton"]:hover,
	div[type="coTB_MenuButton"]:active
	{
		background-color:Window;
	}
	
	popup {
		font-size:12px;
	}	
}


