/* Symantec Watermark: CB70-4860-5397-06-15-6 */
/*
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header start
// ////////////////////////////////////////////////////////////////////////////////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2013 Symantec Corporation.
// All rights reserved.
//
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header stop
// ////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen,contrast-screen
{			

	popup[role=tooltip],
	popup[role=overflow-tooltip] 
	{
		font: system;
		background-color : #F5F7FA;
		background-repeat:stretch;
		overflow:none;
		text-overflow:none;
		color:infotext;
		padding-top:10px;
		line-height:0px;
		font-size:11px !important;
		min-height:14px;
	}  
	div.coIV_Section
	{
		min-width:94px;
		max-width:150px;
	}
	
	div[type="IV_Button"] 
	{
		background-position:0px 0px;
		background-repeat:expand; 
		color:Black;	
		cursor:default;
		font-family:Arial, Tahoma, Sans-Serif;
		font-size:8px;
		font-weight:normal;		
		background-position:8px 4px;
		background-repeat:no-repeat;
		height:28px;
		max-height:28px;
		margin-right:1px;
		padding-top:0px;
		white-space:nowrap;
		padding-top:-2px;
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		margin-left:-4px;
	}
	
	div[type="IV_Button"]:hover
	{
		background-color:#bfebfa;
		
	}    
	
	div[type="IV_Button"]:active
	{
		background-color:#00afec;
	}	

	
	div#idIDSafeButton
	{   
		background-position:2px 0px 0px 2px;
	}
	
	/* Ensure all positioning adjustments do not have to compete with padding. */
	div#idIDSafeButton div 
	{ 
		padding:0;
		border:none;
		border-spacing:0;
		border-collapse:collapse;
	}
	
	/* Give the main button wrapper div some width */
	/* icon = 20 px wide;
	   English text is about 30 px wide; 
	   left-right padding of about 10 px total */
	div#idIDSafeButton #ToolbarButtonWrapper
	{
		min-width:94px;
		max-width:150px;
	}
	
	/* Define layout properties for the leftmost div "column" */
	/* Set an image in this div to cause it to take up its width */
	div#idIDSafeButton #ToolbarButtonIconPlaceholder
	{
		float:left;
		/* style guide specs 8px space between button and separator, so our button edge will be half that.
		   we later spec margin-left of 4px
		   style guide specs 5px space between button icon and text lines
		   image file is 20px x 20px
		   so width is 20+4+5-4 = 25; height = 20 */
		width:25px;
		height:20px;
		padding:0;
		border:none;
		background-image:url('../images/ICON_BUI_VAULT_CLOSED.PNG');
		background-repeat:no-repeat;
		visibility:hidden;
		margin-left:4px;    /* style guide specs 8px space between button and separator, so our button edge will be half that. */
		margin-top:4px;     /* experimented to determine good icon layout */
	}
	div#idIDSafeButton #ToolbarButtonIconPlaceholder:rtl
	{
		float:right;
	}
	
	/* Define layout properties for the rightmost div "column" */
	/* Estimate that the English text is about 30 px wide; 
	   Style guide showed some whitespace on the right of the button, so estimate 40px. */
	div#idIDSafeButton #ToolbarButtonTextWrapper
	{
		min-width:40px;
		max-width:110px;
		margin-top:1px;
		padding-left:5px;
	}
		
	/* Set button line 1 text style to match styleguide document specs. */
	/* try to set the vertical align to shift the text up */
	div#idIDSafeButton #ToolbarButtonLine1
	{
	   font-family:"Segoe UI", Tahoma, Sans-Serif;
	   font-size:10px;
	   color:#9da0a6;
	   padding:0;
	   border:none;
	}
	
	/* Set button line 2 text style to match styleguide document specs. */
	/* Note: would like to pull line 2 text up a few px, but could not 
	   find a way to get it done with margin-top or negative margin-bottom on Line 1.*/
	div#idIDSafeButton #ToolbarButtonLine2
	{
	   font-family:"Segoe UI", Tahoma, Sans-Serif;
	   font-size:10px;
	   color:#383230;
	   padding:0;
	   border:none;
	} 

	/* Begin: state logic to selectively display the appropriate foreground image in the button */           
	div#idIDSafeButton[ignorestate="removeignore"][state="loggedout"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate="ignore"][state="loggedout"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate=""][state="loggedout"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate="removeignore_infobar"][state="loggedout"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/ICON_BUI_VAULT_CLOSED.PNG');
		visibility:visible;
	}
	
	div#idIDSafeButton[state="novault"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/ICON_BUI_VAULT_CLOSED.PNG');
		visibility:visible;
	}

	div#idIDSafeButton[ignorestate="ignore"][state="loggedin"][exclusion="No"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate=""][state="loggedin"][exclusion="No"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/ICON_BUI_VAULT_OPEN.PNG');
		visibility:visible;
	}
	
	div#idIDSafeButton[ignorestate="ignore"][state="loggedin"][infillmode="yes"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate=""][state="loggedin"][infillmode="yes"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/ICON_BUI_VAULT_OPEN.PNG');
	}

	div#idIDSafeButton[ignorestate="ignore"][state="loggedin"][exclusion="Yes"] div#ToolbarButtonIconPlaceholder,
	div#idIDSafeButton[ignorestate=""][state="loggedin"][exclusion="Yes"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/ICON_BUI_VAULT_OPEN.png');
		visibility:visible;
	}
	div#idIDSafeButton[ignorestate="removeignore"][state="loggedin"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/icon_bUI_vault_ignore.png');
		visibility:visible;
	}   
	div#idIDSafeButton[ignorestate="removeignore_infobar"][state="loggedin"] div#ToolbarButtonIconPlaceholder
	{
		background-image:url('../images/icon_bUI_vault_hideinfobar.png');
		visibility:visible;
	}
	
	/* End: state logic to selectively display the appropriate foreground image in the button */           
		   
	/* Default display of all dynamic-text-holding div's to "none" */
	div#idIDSafeButton #ToolbarButtonLine1 div,
	div#idIDSafeButton #ToolbarButtonLine2 div
	{
		display:none;
	}
		
	/* Begin: state logic to selectively display the appropriate divs of text */
	div#idIDSafeButton[ignorestate="ignore"][state="loggedin"] #VaultFixedText,
	div#idIDSafeButton[ignorestate="ignore"][state="loggedin"] #VaultLoggedInText,
	div#idIDSafeButton[ignorestate=""][state="loggedin"] #VaultFixedText,
	div#idIDSafeButton[ignorestate=""][state="loggedin"] #VaultLoggedInText
	{
		display:inline;
	}
	div#idIDSafeButton[state="novault"] #SetupVaultText1,
	div#idIDSafeButton[state="novault"] #SetupVaultText2
	{
		display:inline;
	}
	div#idIDSafeButton[ignorestate="removeignore"][state="loggedin"] #IgnoreSiteFirst,
	div#idIDSafeButton[ignorestate="removeignore"][state="loggedin"] #IgnoreSiteSecond
	{
		display:inline;
	}
	div#idIDSafeButton[ignorestate="removeignore_infobar"][state="loggedin"] #IgnoreInfoBar,
	div#idIDSafeButton[ignorestate="removeignore_infobar"][state="loggedin"] #HiddenInfoBar
	{
		display:inline;
	}    
	div#idIDSafeButton[state="loggedout"] #VaultFixedText,
	div#idIDSafeButton[state="loggedout"] #VaultLoggedOutText
	{
		display:inline;
	}

	/* End: state logic to selectively display the appropriate spans of text */
	   
	div[type="IV_Button"][class="MenuDisabled"]
	{
		color:Gray;
		background-image:none;
		opacity:.5;
	}
	
	div#idIDSafeButton:active #ToolbarButtonLine1
	{
		color:#a2d9f6;
	}	

	div#idIDSafeButton:active #ToolbarButtonLine2
	{
		color:White;
	}

	/* End: dynamic style rules for the toolbar button outline */


	/*
	****************************************************************************
	Short form mode - changes
	****************************************************************************
	*/
	
	div[type="IV_Button"][formfactor="short"],
	div[type="IV_Button"][formfactor="short"][loggedin="2"]
	{
		margin-left:3px;
		min-width:48px;
		max-width:48px;
	}
		
	div[type="IV_Button"][formfactor="short"] > text
	{
		margin-right:0;
		margin-left:0;
	}	
	
	div[id="idIDSafeButton"][formfactor="short"] [id="ToolbarButtonWrapper"]
	{
		min-width:48px;
		max-width:48px;
		height: 25px;
	}
	
	div[id="idIDSafeButton"][formfactor="short"] [id="ToolbarButtonIconPlaceholder"]
	{
		width:30px;
		height:20px;
		background-image:url('../images/ICON_BUI_VAULT_CLOSED.PNG');
		background-repeat:no-repeat;
		background-position: 0px -1px !important;

		position:relative;
		left:9px;
		bottom:1px;
	}
	
	/*
	****************************************************************************
	right-to-left lang - changes
	****************************************************************************
	*/	
	
	body[dir="rtl"] div[type="IV_Button"] 
	{
		margin-right:-15px;
		width:100px;
	}
	
	body[dir="rtl"] div#idIDSafeButton #ToolbarButtonTextWrapper
	{
		padding-right:5px;
	}
		
}

div.coSBRightSpacer
{
	border-left:1px solid #b3b0ad;
	margin-bottom:1px;
	margin-left:-1px;
	margin-right:-3px;
	height:100%;
	min-width:2px;
	padding-left:1px;
}


@media contrast-screen
{
	div[type="IV_Button"] 
	{
		background-color:White;
	}
	
	div[type="IV_Button"] > text
	{
		color:Black;
		font-weight:bold;	
	}	
}
