[Desktop Entry]
Name=Terminal
Comment=Use the command line
# Keywords=shell;prompt;command;commandline;cmd;
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.30.1
X-GNOME-SingleWindow=false
X-Ubuntu-Gettext-Domain=gnome-terminal
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Actions=new-window;preferences;rogue;robots;tmux;top-right

[Desktop Action new-window]
Name=New Window
Exec=gnome-terminal --window

[Desktop Action preferences]
Name=Preferences
Exec=gnome-terminal --preferences

[Desktop Action rogue]
Name=Rogue
Exec=gnome-terminal --window-with-profile=Rogue

[Desktop Action robots]
Name=Robots
Exec=gnome-terminal --window-with-profile=Robots

[Desktop Action tmux]
Name=TMux
Exec=gnome-terminal --window-with-profile=TMux --maximize

[Desktop Action top-right]
Name=TopRight
Exec=gnome-terminal --window-with-profile=Shells --geometry=-0+0
