[Desktop Entry]
Name=Rogue
Comment=Use the command line
#TryExec=rogue
Exec=sakura -r 24 -c 80 -t Robots -x /home/cesar/cmd/unity-rogue
#Icon=terminal-tango
Type=Application
Categories=GTK;TerminalEmulator;System;
StartupNotify=true

