[Desktop Entry]
Name=Robots
#Exec=/usr/bin/sakura --config-file=rogue.conf --geometry 80x24+520+80 -t Robots -x /usr/games/robots
Exec=gnome-terminal --window-with-profile=Robots
Type=Application
Categories=GTK;TerminalEmulator;System;
StartupNotify=true
