[Desktop Entry]
Name=Rogue
Comment=Use the command line
#TryExec=rogue
Exec=sakura --config-file=rogue.conf --geometry 80x24+558+0 -t Rogue -x /home/cesar/cmd/unity-rogue
Icon=/home/cesar/Documents/Icons/Rogue.xcf
Type=Application
Categories=GTK;TerminalEmulator;System;
StartupNotify=true
