[Desktop Entry]
Name=Sakura
Comment=Use the command line
TryExec=sakura
Exec=sakura -r 27 -c 82
Icon=terminal-tango
Type=Application
Categories=GTK;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=sakura
X-Desktop-File-Install-Version=0.20
