
h1 {
    padding: 20px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2em;
}

body {
    background: #2a2a2a url(./images/bg.png);
    color: white;
}

div {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

    table * {
        text-align: center;
    }

.extensions td {
    text-align: center;
    padding: 20px;
}

.extensions img {
    width: 350px;
}

.headline {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 0.8em;
}

.header {
    width: 800px;
    font-size: 1.5em;
}

.browsers * {
    width: 180px;
}

.browsers td {
    width: 250px;
}

.mainLogo {
    -moz-box-shadow: 0 0 35px #fff;
    -webkit-box-shadow: 0 0 35px #fff;
    -ms-box-shadow: 0 0 35px #fff;
}

.logo {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -ms-box-shadow: 0 0 5px #fff;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#legalsLink:link {
    text-decoration: underline;
    font-family: Verdana;
    color: white;
    font-weight: BOLD;
}


#legalsLink:visited {
    text-decoration: underline;
    font-family: Verdana;
    color: #999999;
    font-weight: BOLD;
}

#legalsLink:hover {
    text-decoration: underline;
    font-family: Verdana;
    color: #BF3EFF;
    font-weight: BOLD;
}

.logo {
    -ms-opacity: 0.7;
    opacity: 0.7;
}

#legalsLink *:hover {
    -ms-opacity: 1.0;
    opacity: 1.0;
}

h3 {
    font-size: 1em;
}

.center {
    text-align: center;
}


/* font standard */


.sml {
    font: small/1.2em arial, helvetica, clean, sans-serif;
    font: x-small;
    color: #333;
}

table {
    font: x-small;
    font-size: inherit;
}

pre, code, select, input, textarea {
    font-size: 100%
}

html > body textarea {
    font-size: auto
}

form {
    margin: 0;
    padding: 0;
}

hr {
    color: #ccc;
    clear: both;
}

a {
    color: #039;
    text-decoration: underline;
}

a:hover {
    color: #00f;
    text-decoration: underline;
}

.ymsgrfakelink {
    color: #039;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
}

/* main container */
#ygmain {
    width: 750px;
    margin: auto;
    border: 0px solid #fff;
    text-align: left;
}

/* hide for newer browsers */
.ymsgroldbrowser {
    position: absolute;
    visibility: hidden;
    top: -1000px;
    left: -1000px;
}

/* key elements */
small {
    font: 78% verdana, arial, sans-serif;
}

p {
    margin: 0;
    padding-top: 4px;
    line-height: 1.4em;
}

small p {
    margin: 0;
    padding-top: 8px;
    line-height: 1.5em;
}

h2 {
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    color: #7f7fcc;
}

h3 {
    font: 78% verdana, arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 4px;
    color: #22384b;
}

h5 {
    margin: 0;
    padding: 0;
}

.ymsgrnobr {
    white-space: nowrap;
}

/* forms */
.ymsgrbtn, .ymsgrbigbtn {
    color: #333;
    background: #fff url(https://s.yimg.com/nt/i/us/nt/bn/cta/yel_tl.gif) repeat-x -5px -5px;
    text-decoration: none;
    padding: .25em .75em;
    border: 1px solid #ffa515;
    cursor: pointer;
}

.sec .ymsgrbtn, .ymsgrbigbtn {
    background-image: url(https://a248.e.akamai.net/sec.yimg.com/i/us/nt/bn/cta/yel_tl.gif);
}

.ymsgrbtn:hover, .ymsgrbigbtn:hover {
    color: #333;
    text-decoration: none;
}

.ymsgrbtn {
    font-size: 85%;
    font-weight: bold;
}

.ymsgrbtn.secondary {
    font-weight: normal;
    background-image: url(https://s.yimg.com/nt/i/us/nt/bn/cta/gry_tl.gif);
    border-color: #b5b8ba;
    margin-left: 7px;
}

.ymsgrbigbtn {
    font-family: arial;
    font-weight: bold;
}

.ymsgrlearnmore {
    font: 78% verdana, arial, sans-serif;
    font-weight: bold;
}

.ymsgrflabel, .ymsgrffield p {
    font: 78% verdana, arial, sans-serif;
}

.content {
    width: 52em;
    height: 340px;
    margin: 75px 0 120px 0;
    text-align: center;
    font-size: 108%
}

.content .page {
    height: 25em;
    margin: 0px 18px;
}

.content .page .bd {
    height: 29em;
}

.content .page .ft {
    padding-top: 0px;
    border-top: solid 1px #bac0c4;
}

.content .page .ft div {
    padding-top: 10px;
    border-top: solid 1px #fff;
    text-align: right;
}

.content .page .ft a {
    text-decoration: none;
    padding: 0 0.5em;
    margin: 0.25em 0 0.25em 0.5em;
    font-size: 85%;
    display: inline-block;
    border-left: solid #bac0c4 1px;
}

.content .page .cpnDlOpts {
    text-align: left;
}

.content .page .cpnDlOpts .bd {
    font-size: 77%;
    height: 310px;
    overflow: auto;
}

.content .page .cpnDlOpts .bd .ftnote {
    margin-top: 70px;
}

.content .page .cpnDlOpts .bd a {
    text-decoration: none;
}

.content .page .cpnDlOpts .bd h4 {
    font-weight: bold;
    margin: 10px 0 5px 0;
    font-size: 116%;
}

.content .page .cpnDlOpts .bd h4.last {
    margin-top: 40px;
}

.content .page .cpnDlOpts .bd input {
    margin: 2px 2px 0px 10px;
}

.content .page .cpnDlOpts #eula {
    font-family: Arial;
    width: 100%;
    height: 130px;
    color: #555;
    background-color: #fff;
    padding: 3px;
}

.content #tdCpnDlClkstrm.page .cpnDlOpts .bd input {
    margin-left: 30px;
}

/* Begin .sml section - This section overides the full screen dldflow styles */
.sml {
    overflow: hidden;
}

.sml .content {
    width: 100%;
    height: auto;
    margin: 10px 0 0 0 !important;
    text-align: center;
    font-size: 108%
}

.sml #doc {
    display: none;
}

.sml #tdCpnDlError,
.sml #tdYinstDlError,
.sml #tdYinstDlOldVer {
    color: #c00000;
}

.sml #hCpnDlXPSP2,
.sml #hCpnDlIE7 {
    font-size: 100%;
}

.sml .content .page {
    height: 25em;
}

.sml .content .page .bd {
    height: 29em;
    overflow: auto;
}

.sml .content .page .cpnDlOpts .bd {
    height: 29em;
}

.sml .cpnDlMsg.error {
    background: #fedadc url("https://s.yimg.com/nt/i/tb/download/icon_error.png") no-repeat 5px 3px;
    border: solid 1px #a71b17;
    text-align: left;
    padding: 3px 3px 3px 30px;
    margin-top: 10px;
}

.sec.sml .cpnDlMsg.error {
    background-image: url("https://a248.e.akamai.net/sec.yimg.com/i/tb/download/icon_error.png");
}

/* End .sml section */

.ymsgrbtn {
    padding: .25em 1.75em;
}

.ymsgrbtn1 {
    color: #333;
    background-color: #d8dadc;
    text-decoration: none;
    padding: .25em 1.75em;
    border: 1px solid #b5b8ba;
    cursor: pointer;
    font-weight: normal;
    font-size: 85%;
}

.step-holder-container, .step-holder-container div {
    height: 29px;
}

.step-holder-container {
    position: relative;
    margin: 0px 20px;
    background: url("https://s.yimg.com/nt/i/tb/yts/container_center-20110411.png") repeat-x;
}

.step-holder-container .holder-bg-left, .step-holder-container .holder-bg-right {
    position: absolute;
    display: inline-block;
}

.step-holder-container .holder-bg-left {
    left: -1px;
    width: 1px;
}

.step-holder-container .holder-bg-right {
    right: -1px;
    background: url("https://s.yimg.com/nt/i/tb/yts/container_right-20110411.png") no-repeat;
    width: 2px;
}

.step-holder-container .step-holder, .step-holder-container .step-holder div {
    xheight: 26px;
}

.step {
    float: left;
    color: #FFFFFF;
    line-height: 29px;
    font-size: 90%;
    font-weight: bold;
}

.step .left-part, .step .right-part, .step .center-part {
    float: left;
    xheight: 29px;
}

.step .left-part {
    width: 1px;
    background: url("https://s.yimg.com/nt/i/tb/yts/non_first_left-20110411.png") no-repeat;
}

.step .center-part {
    width: 254px;
    background: url("https://s.yimg.com/nt/i/tb/yts/step_center-20110411.png") repeat-x
}

.step .right-part {
    width: 4px;
    background: url("https://s.yimg.com/nt/i/tb/yts/non_first_left-20110411.png") no-repeat;
}

.step .left-part {
    background: url("https://s.yimg.com/nt/i/tb/yts/step_center-20110411.png") repeat-x;
}

.step.start .left-part {
    background: url("https://s.yimg.com/nt/i/tb/yts/step_left-20110411.png") no-repeat;
}

.step.last .right-part {
    background: none;
    width: 18px;
    background: url("https://s.yimg.com/nt/i/tb/yts/step_right-20110411.png") no-repeat;
}

.hidden {
    display: none;
}

.content .privacy {
    xbackground: url(lock.png) top right no-repeat;
}

.content .settings {
    xbackground: url(search.png) top right no-repeat;
}

.dim
{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;           /* fx, safari, opera */
}